In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
db=pd.read_csv("diabetes.csv")

In [9]:
db.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [16]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [18]:
db.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

TypeError: 'tuple' object is not callable

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(db.drop("Outcome", axis=1),db['Outcome'],test_size=0.3)
#x_train is training set of indepedent variable
#x_test is test set of independent variable
#y_train is training set of dependent variable
#y_test is test set of independent variable

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
lr=LinearRegression()
#creation of instance of linear regression

In [9]:
lr.fit(x_train,y_train)
#fitting model on dataset

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
y_prdict=lr.predict(x_test)
#prediction using linear regression and put it into y_predict variable

In [11]:
y_test.head()
#first five elements of actual value

564     0
167     0
197     1
200     0
1691    1
Name: Outcome, dtype: int64

In [12]:
y_prdict[0:5]
#here we are just printing first five predicted elements

array([0.0974556 , 0.36952658, 0.17119299, 0.24064742, 0.68162823])

In [13]:
from sklearn.metrics import mean_squared_error
#we import mean squared error to calculate error rate

In [14]:
mean_squared_error(y_test,y_prdict)
#this is mean squered error i.e 0.1596

0.1596061305297369